* {
  padding: 0;
  margin: 0;
  background-color: pink;
}

/*Estilo del header*/
.bg-header {
  background-image: url(../assets/fondoheader2.jpg);
  background-size: 10% auto;
  font-family: "Playwrite ES Deco", cursive;
  text-align: center;
  font-size: 4.5vw;
}

/*Estilo navbar*/
.navbar {
  padding-top: 0px;
  padding-bottom: 5px;
}

.fontfamilynavbar {
  font-family: "Playwrite DE Grund", cursive;
  color: black;
  font-size: 1.8vw;
}

/*H1*/
.h1index {
  font-family: "Playwrite ES Deco", cursive;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4vw;
  font-size: 3.5vw;
}

/*Card*/
.containercards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 20vw;
}

.card-body {
  background-color: white;
  font-family: "Playwrite DE Grund", cursive;
  color: black;
  font-size: 0.8em;
  text-align: center;
  padding: 0px;
}

.card-text {
  background-color: white;
  font-size: 1.3vw;
}

.card-title {
  background-color: white;
  font-size: 1.8vw;
}

.cajavermas a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  background-color: rgb(122, 13, 122);
  text-decoration: none;
  color: white;
}

/*H1/h2 de las demas paginas html*/
.h1recetas {
  font-family: "Playwrite ES Deco", cursive;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4.5vw;
  font-size: 3vw;
}

.h2recetas {
  font-family: "Playwrite ES Deco", cursive;
  text-align: center;
  font-size: 2.5vw;
  padding-bottom: 3vw;

}

/* Container recetas */
.containerimg {
  width: 30vw;
  margin-left: 2vw;
}

.containerimg img {
  width: 100%;
}

.section-recetas {
  display: flex;
}

.section1 {
  padding-bottom: 4vw;
}

.lista-ingredientes {
  font-size: 1.2vw;
  width: 22vw;
}

.cajapasos {
  font-size: 1.2vw;
  width: 50vw;
  margin-right: 2vw;
}

/*Footer*/
footer img {
  width: 3vw;
  border-radius: 50%;
}

footer {
  padding-top: 20%;
}

footer a {
  text-decoration: none;
  color: black;
  font-family: "Playwrite ES Deco", cursive;
  font-size: 1.5vw;
}

/*Media queries*/
/* Tablet 

@media (max-width: 768px) 
No agregue media queries para tablet porque no lo crei necesario*/

/* Mobile, en un principio habia elegido 320px pero al verlo en mi celular que no se adaptaba tome esta medida un poco mas grande, no se si es correcto*/
@media (max-width: 480px) {

  /*Index */
  .bg-header {
    font-size: 5vw;
  }

  .h1index {
    font-size: 4vw;
    padding-top: 5vw;
  }

  /*Paginas html*/
  .h1recetas {
    font-size: 4vw;
  }

  .section-recetas {
    display: flex;
    flex-wrap: wrap;
  }

  .lista-ingredientes {
    font-size: 2vw;
    width: 50vw;
  }

  .containerimg {
    margin-left: 20vw;
  }

  .cajapasos {
    font-size: 2.2vw;
    width: 100vw;
    margin-top: 2vw;
  }

  .h2recetas {
    font-size: 3vw;
  }
}