* {
  padding: 0;
  margin: 0;
  background-color: rgb(248, 212, 218);
}

.bg-header {
  background-image: url(../assets/fondoheader2.jpg);
  background-size: 10% auto;
  font-family: "Playwrite ES Deco", sans-serif;
  text-align: center;
  font-size: 4.5vw;
}

/*NavBar*/
.navbar {
  padding-top: 0px;
  padding-bottom: 5px;
}
.navbar .fontfamilynavbar {
  font-family: "Playwrite DE Grund", sans-serif;
  color: black;
  font-size: 1.8vw;
}

/*H1*/
.recetasindex {
  font-family: "Playwrite ES Deco", sans-serif;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4vw;
  font-size: 3.5vw;
}

.recetas2index {
  font-family: "Playwrite DE Grund", sans-serif;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 3vw;
}

/*Card*/
.containercards {
  display: flex;
  justify-content: space-evenly;
}
.containercards .card {
  width: 20vw;
}
.containercards .card .card-body {
  background-color: #ffffff;
  font-family: "Playwrite DE Grund", sans-serif;
  color: black;
  font-size: 0.8em;
  text-align: center;
  padding: 0px;
}
.containercards .card .card-body .card-title {
  background-color: #ffffff;
  font-size: 1.8vw;
}
.containercards .card .card-body .card-text {
  background-color: #ffffff;
  font-size: 1.3vw;
}
.containercards .card .card-body .cajavermas a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  background-color: rgb(122, 13, 122);
  text-decoration: none;
  color: #ffffff;
}
.containercards .card .card-body .vermashover:hover {
  background-color: rgb(70, 6, 70);
}

/*H1/h2 de las demas paginas html*/
.recetas {
  font-family: "Playwrite ES Deco", sans-serif;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 4.5vw;
  font-size: 3vw;
}

.cajarecetas {
  font-family: "Playwrite DE Grund", sans-serif;
  display: flex;
  justify-content: center;
}
.cajarecetas .recetasitem {
  width: 23vw;
  display: flex;
  justify-content: center;
  border: 0.3vw solid #ffffff;
  font-size: 2vw;
}

/* Container recetas */
.section-recetas {
  display: flex;
}
.section-recetas .containerimg {
  width: 30vw;
  margin-left: 2vw;
}
.section-recetas .containerimg img {
  width: 100%;
}
.section-recetas .lista-ingredientes {
  font-size: 1.2vw;
  width: 22vw;
}
.section-recetas .cajapasos {
  font-size: 1.2vw;
  width: 50vw;
  margin-right: 2vw;
}

.section1 {
  padding-bottom: 4vw;
}

/*Footer*/
footer {
  padding-top: 20%;
}
footer img {
  width: 3vw;
  border-radius: 50%;
}
footer a {
  text-decoration: none;
  color: black;
  font-family: "Playwrite DE Grund", sans-serif;
  font-size: 1.5vw;
}

/*Media queries*/
@media (max-width: 480px) {
  /*Index */
  .bg-header {
    font-size: 5vw;
  }
  .recetasindex {
    font-size: 5vw;
  }
  .recetas2index {
    font-size: 3vw;
  }
  .containercards {
    flex-direction: column;
  }
  .containercards .card {
    width: 60vw;
  }
  .containercards .card .card-body .card-title {
    font-size: 4vw;
  }
  .containercards .card .card-body .card-text {
    font-size: 2.3vw;
  }
  .containercards .card .card-body .cajavermas a {
    font-size: 2.2vw;
  }
  article {
    margin-left: 20vw;
    margin-bottom: 5vw;
  }
  .ultimoarticle {
    margin-bottom: 0px;
  }
  /*Paginas html*/
  .recetas {
    font-size: 4vw;
  }
  .cajarecetas .recetasitem {
    width: 26vw;
    font-size: 3.5vw;
  }
  .section-recetas {
    display: flex;
    flex-wrap: wrap;
  }
  .section-recetas .containerimg {
    margin-left: 20vw;
  }
  .section-recetas .lista-ingredientes {
    font-size: 2vw;
    width: 50vw;
  }
  .section-recetas .cajapasos {
    font-size: 2.2vw;
    width: 100vw;
    margin-top: 2vw;
  }
  footer img {
    width: 6vw;
    border-radius: 50%;
  }
  footer a {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=main.css.map */
