* {
  background-color: pink;
}

/*Estilo del header*/
.bg-header {
  background-image: url(../assets/fondoheader2.jpg);
  background-size: auto;
  height: 100px;
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  font-size: 4vw;
}

/*Estilo navbar*/
.navbar {
  padding: 0px;
  padding-bottom: 5px;
}

.fontfamilynavbar {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: black;
  font-size: 1em;
}

/*H1*/
.h1index {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*H1 de las demas paginas html*/
.h1recetas {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 80px;

}


/*Card*/
.containercards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 18rem;


}

.card-body {
  background-color: white;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: black;
  font-size: 1em;
  text-align: center;

}

.card-text {
  background-color: white
}

.card-title {
  background-color: white;
}

.btn {
  background-color: rgb(83, 13, 116);
  text-align: center;
}

/*Estilo de los h2*/

.estiloh2 {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: left;
  font-size: 2vw;
}




/*Estilo texto h2 y h3 receta e ingredientes*/
.hrecetas {
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  text-align: center;
  font-size: 2vw;
}



/* Container recetas */

.containercaja {
  display: flex;
}

.hrecetas {
  display: flex;
  justify-content: right;
}

.hrecetas h2 {
  width: 50vw;
}

.hrecetas h3 {
  margin-right: 2.5vw;
}

.containerimg {
  width: 30vw;
}

.containerimg img {
  width: 100%;
}

.containerpasos {
  display: flex;
}

.cajapasos {
  width: 700px;
  height: 350px;
}

.cajaingredientes {
  margin-left: 80px;
}

/*Footer*/
footer img {
  width: 3%;
  border-radius: 50%;
}

footer {
  padding-top: 100px;
}



/*Media queries*/



/* Tablet */

@media (max-width: 768px) {

  /* Header */
  .bg-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Falta alinear el ver mas */


  /* Recetas */

  .h1recetas {
    font-size: 3vw;
    padding-bottom: 40px;
  }

  .hrecetas {
    display: flex;
    justify-content: right;
  }

  .hrecetas h2 {
    width: 50vw;
    font-size: 2vw;
    text-align: left;
  }

  .hrecetas h3 {
    margin-right: 5vw;
    font-size: 2vw;
  }

  .cajapasos {
    width: 350px;
    height: 350px;
    font-size: 1.3vw;
  }

  .cajaingredientes {
    margin-left: 30px;
    font-size: 1vw;
  }






}



/* Mobile */

@media (max-width: 320px) {

  /* Header */
  .bg-header {
    font-size: 6vw;
  }


  /* Index*/
  .h1index {
    font-size: 6vw;
  }

  .card-title {
    font-size: 3.5vw;
  }

  .card-text {
    font-size: 3vw;
  }

  /* Falta achicar el ver mas */
  .btn {
    width: 70px;
    height: 50px;
  }

  /* Recetas */

  .h1recetas {
    font-size: 5vw;
    padding-bottom: 20px;
  }


  .hrecetas h2 {
    font-size: 4vw;
    padding-left: 15px;
  }

  .hrecetas h3 {
    font-size: 3vw;
  }




  .containercaja {
    display: flex;
  }

  .containerimg {
    width: 50vw;
    margin-left: 50px;
  }


  .cajaingredientes {
    display: flex;
    font-size: 2vw;
    margin-left: 10px;

  }


  .cajah3 {
    margin-top: 40px;
  }

  .containerpasos {
    width: 100px;
    height: 160px;
  }



  .cajapasos {
    display: none;
  }

  .cajapasosmobile ol {
    display: block;
    font-size: 2vw;
    margin-top: 10px;
    margin-bottom: 0px;
  }


}

/* Desaparecer caja pasos extra */
@media (min-width:321px) and (max-width: 1500px) {
  .cajapasosmobile {
    display: none;
  }
}