/*Footer*/
  
  footer {
    padding-top: 20%;
    img {
      width: 3vw;
      border-radius: 50%;
    }
    a {
      text-decoration: none;
      color: black;
      font-family: $grund;
      font-size: 1.5vw;
    }
  }
  
  
  