/*H1*/
.h1index {
    font-family: $grund;
    text-align: center;
    @include padding (3vw, 4vw);
    font-size: 3.5vw;
  }
  .h2index {font-family: $grund;
  text-align: center;
font-size: 2vw;
margin-bottom: 3vw;}