/*Media queries*/

@media (max-width: 480px) {

  /*Index */
  .bg-header {
    font-size: 5vw;
  }

  .recetasindex {
    font-size: 5vw;
  }

  .recetas2index {
    font-size: 3vw;
  }

  .containercards {
    flex-direction: column;

    .card {
      width: 60vw;

      .card-body {
        .card-title {

          font-size: 4vw;
        }

        .card-text {
          font-size: 2.3vw;
        }

        .cajavermas a {

          font-size: 2.2vw;

        }
      }
    }
  }

  article {
    margin-left: 20vw;
    margin-bottom: 5vw;
  }

  .ultimoarticle {
    margin-bottom: 0px;
  }

  /*Paginas html*/
  .recetas {
    font-size: 4vw;
  }

  .cajarecetas {
    .recetasitem {
      width: 26vw;
      font-size: 3.5vw;
    }
  }

  .section-recetas {
    display: flex;
    flex-wrap: wrap;

    .containerimg {
      margin-left: 20vw;
    }

    .lista-ingredientes {
      font-size: 2vw;
      width: 50vw;
    }

    .cajapasos {
      font-size: 2.2vw;
      width: 100vw;
      margin-top: 2vw;
    }
  }

  footer {
    img {
      width: 6vw;
      border-radius: 50%;
    }

    a {
      font-size: 3vw;
    }
  }
}