/*H1/h2 de las demas paginas html*/
.recetas {
  font-family: $deco;
  text-align: center;
  @include padding (3vw, 4.5vw);
  font-size: 3vw;
}

.cajarecetas {
  font-family: $grund;
  display: flex;
  justify-content: center;

  .recetasitem {
    width: 23vw;
    display: flex;
    justify-content: center;
    border: 0.3vw solid $white;
    font-size: 2vw;
  }
}